@import '../styles/variables.scss';
@import '../styles/mixin.scss';

* {
  box-sizing: border-box;
}

body {
  @include backgroundImage(
    url('../../public/images/main/background3.png'),
    _,
    _
  );
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  // overflow: hidden;
  background-color: rgb(14, 4, 82);
}

button {
  cursor: pointer;
}
