@import '../styles/variables.scss';

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  background-color: $main-white;
}

button {
  cursor: pointer;
}
