@mixin flex($display, $direction, $align, $justify) {
  display: $display;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin buttonSize($width, $height, $fontSize) {
  width: $width;
  height: $height;
  font-size: $fontSize;
}

@mixin buttonColor($background, $color) {
  background-color: $background;
  color: $color;
}

@mixin backgroundImage($url, $size) {
  background-image: $url;
  background-size: $size;
}
